.body {
    background-color: #f6f6f6;
    height: 91vh;
    width: 100%;
    position: absolute;
}


.objectPallete {
    background-color: #ffffff;
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #D2D7D3;
    z-index: 20;
}


.propertiesPallete {
    background-color: #f9f9f9;
    width: 600px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #D2D7D3;
    z-index: 10;
    resize: both;
}


.formPallete {
    position: absolute;
    height: 80%;
    left: 250px;
    top: 50px;
    overflow-y: auto;
}

.formPallete::-webkit-scrollbar {
    width: 5px;
}


.formPallete::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.layout {
    overflow-y: hidden;
}
